body{
  font-family: 'Rokkitt', serif;
  padding: 0;
  overflow-x: auto;
}

header hr{
  margin-top: 0;
  width: 5%;
  border-top: 3px solid black;
}

.description p{
  font-family: 'Roboto', sans-serif;
}
.span12{
  font-size: 1.5em;
}

.down-right{
  height: 100%;
}
#game{
  background-color: #333;
}
.down-left{
  padding-left: 0px;
}
.name{
  color: white;
}
.margin-top-20{
  margin-top: 20px;
}
.btn-warning{
  background-color: #f9a91a !important;
  border-color: none: !important;
  border-radius: 0 !important;
}
.seats{
  width: 35%;
  background-color: #ccc;
}
